.layout {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    margin-top: 70px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .layout {
        margin-left: 0;
    }
  }