.layout {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    margin-left: 240px;
    margin-top: 70px;
    padding: 10px;
    /* justify-content: center;  */
     /* max-width: 36rem; */
    /* padding: 10px;
    margin-top: 40px; */
}

@media only screen and (max-width: 600px) {
    .layout {
        margin-left: 0;
    }
  }