.container-head{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.title{
    margin-top: 20px;
}